---
layout: base.njk
title: Home
header_solid: false
---
{% include "partials/hero.njk" %}
{% include "partials/features.njk" %}
{% include "partials/about.njk" %}
{% include "partials/termcard.njk" %}
{% include "partials/committee.njk" %}
{% include "partials/signup-section.njk" %}
{% include "partials/partners.njk" %}
