<section class="section signup-outer" id="join">
  <div class="wrap">
    <h2 class="signup-outer__heading">Join Us</h2>
  </div>
  <div class="wrap signup-section signup-section--solo">
    {% include "partials/mailing-list-form.njk" %}
  </div>
</section>
